<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  

  <add name="Entities" connectionString="metadata=res://*/WebModel.csdl|res://*/WebModel.ssdl|res://*/WebModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=114.55.26.245;initial catalog=PictrueApp;user id=sa;password=5522915+.q;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>