<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    
    <script src="~/Scripts/jquery-1.12.4.js"></script>
    <link href="~/Scripts/skins/minimal/blue.css" rel="stylesheet" />
    <script src="~/Scripts/icheck.js"></script>
    @*<script src="~/Views/icheck.js"></script>
    <link href="~/Views/skins/minimal/blue.css" rel="stylesheet" />
    @*<script src="~/Views/icheck.js"></script>*@

    <title>CheckBox测试</title>
</head>
<body style="margin:2px;">

    <input type="checkbox" />
    <input type="checkbox"  />
    <input type="radio" name="iCheck" />
    <input type="radio" name="iCheck"  />

</body>
</html>
<script>
  
</script>
