

<form id="add_form">
<table class="gridtable">
    <tr>
        <td>用户账号</td>
        <td>
            <input class="easyui-textbox" name="sUserName" />
        </td>
    </tr>
    <tr>
        <td>用户密码</td>
        <td>
            <input  class="easyui-textbox"  name="sPassWord"/>
        </td>
    </tr>
    <tr>
        <td>所属角色</td>
        <td>
            <input class="easyui-combobox" name="sRoleID"
                   data-options="valueField:'ID',textField:'sRoleName',url:'/Admin/Role/GetRoleNameList'" />
        </td>
    </tr>
</table>
</form>
