
<form id="add_form">
<table class="gridtable">
    <tr>
        <td>图片分类名称</td>
        <td>
            <input class="easyui-textbox" name="GoodsCatetoryName" />
        </td>
    </tr>
    <tr>
        <td>分类图片上传</td>
        <td>
            <div id="sPath"></div>
            <input type="hidden" name="sPath" />
        </td>
    </tr>
</table>
</form>
