
<form id="add_form">
<table class="gridtable">
    <tr>
        <td>图片分类名称</td>
        <td>
            <input class="easyui-textbox" name="GoodsCatetoryName" />
        </td>
    </tr>
</table>
</form>
