
<form id="add_form">
<table class="gridtable">
    <tr>
        <td>猜你喜欢图片上传</td>
        <td>
            <div id="sPicture"></div>
            <input type="hidden" name="sPicture" />
        </td>
    </tr>
</table>
</form>
