@{
    ViewBag.Title = "视频详情";
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
}
@using EFModel;
@model Goods
    <div class="top-blank"></div>
    <div class="wx-containe">
        <div class="advBanner">
            <div id="module_1">
                <div class="swiper-wrapper">
                    <div class="two swiper-slide" style="background-color:black;height:206px;width:100%">
                        <img src="@Model.sPicturePath" style="height:206px;width:100%;display:none"  />
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <div class="proinfo-wrap">
            <div class="pro-parameter cl">
                <div class="pro-pri fl"><span>片名:@Model.sGoodsName</span></div>
            </div>
            <div class="pro-description">
                描述：<span>@Model.sGoodsDetail</span>
            </div>
            <div class="pro-parameter cl">
                狼友热评
            </div>
            @*<div class="commentList">
                <div class="pic"><img src="/Areas/Mobile/Content/images/touxiang.png" /></div>
                <div class="commentTxt">
                    <div class="tab">
                    <span class="fr" style="background-image:url('/Areas/Mobile/Content/upload/zan.png');width:20px;height:20px;background-repeat:no-repeat;background-size:100%100%;"></span>
                     <span class="fr" style="height:24px;line-height: 5px;color:red">12346</span>
                     <span class="fl font1_6 blue_s">高冷大叔</span>
                    </div>
                    <div class="tab">评论：<span>感觉不错感觉不错啊感觉不错啊感觉不错啊感觉不错啊感觉不错啊感觉不错啊啊</span></div>
                </div>
            </div>*@
            <div id="commentList">
          
            
           </div>
            <div class="comment-word">
                <div><textarea class="comment-ipt" placeholder="我也来点评几句...."></textarea></div>
                <div class="com-btn tab"><a href="javascript:;" class="tj" style="background:#6DD1EB">提交评论</a></div>
            </div>
        </div>
    </div>
    <div class="ft-blank"></div>
<script src="~/Scripts/plug-in/SlideSlidePages.js"></script>
<script type="text/javascript">
    $(function () {
        var sGoodsId = '@Model.ID';
        domin.InitCommentData(sGoodsId);
        domin.bindEvent();
    });

    var domin = (function (obj) { return obj; }(new function () {

        //初始化评论数据
        function InitCommentData(sGoodsId) {
            $.SlidePages({
                url: '/Mobile/Goods/GetCommentListBysGoodsId?sGoodsId=' + sGoodsId,
                sort: 'dInserTime',
                callback: function (res) {
                    $('#commentList').html('');
                    var html = [];
                    $(res.rows).each(function () {
                        html.push('<div class="commentList">');
                        html.push('<div class="pic"><img src="' + this.sCommentHeadPic + '" /></div>');
                        html.push('<div class="commentTxt">');
                        html.push('<div class="tab">');
                        html.push(' <span class="fr" style="background-image:url(/Areas/Mobile/Content/upload/zan.png);width:20px;height:20px;background-repeat:norepeat;background-size:100%100%;"></span>');
                        html.push('<span class="fr" style="height:24px;line-height: 5px;color:red">' + this.iCommentCount + '</span>');
                        html.push('<span class="fl font1_6 blue_s">' + this.sCommentName + '</span>');
                        html.push('</div>');
                        html.push('<div class="tab">评论：<span>' + this.sContens + '</span></div>');
                        html.push('</div>');
                        html.push('</div>');
                    });
                    $('#commentList').append(html.join(''));
                }
            })
        }

        //绑定事件
        function bindEvent() {
            $('.tj').on("click", function () {

            });
        }


        return {
            InitCommentData: InitCommentData,
            bindEvent: bindEvent
        }
    }));
</script>
